<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LOGIN</title>
        <link rel="stylesheet" href="../static/common.css">
        <link rel="stylesheet" href="../static/login.css">

        <link rel="stylesheet" href="../static/asserts/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/asserts/css/bootstrap.rtl.min.css">
        <!-- ========================================= -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
        <script src="../static/asserts/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="container-limit">
            <div class="container-login-100">
                <div class="wrap-login-100 shadow-lg">
                    <form class="form-login-100 validate-form d-flex flex-wrap justify-content-between">
                        <div class="form-title-login-100 pb-3">
                            Sign In With
                        </div>
                        <div class="d-block w-100 justify-content-center align-items-center">
                        <a href="#" class="btn-google mb-xl-3">
                            Google
                        </a>
                        </div>

                        <div class="text-center d-block w-100">
                            <span>Or</span>
                        </div>

                        <div class="px-xl-3">
                            <span class="txt-1">
                                Username
                            </span>
                        </div>
                        <div class="wrap-input-100 validate-input shadow-sm"  data-validate = "Username is required">
                            <input type="text" name="username" class="input-100">
                            <span class="input-100-focus"></span>
                        </div>
                        <div class="px-xl-3">
                            <span class="txt-1">Password</span>
                            <a href="#" class="txt-2 bt-1 ms-2">Forget?</a>
                        </div>
                        <div class="wrap-input-100 validate-input shadow-sm" data-validate="Password is required">
                            <input type="password" name="pass" class="input-100">
                            <span class="input-100-focus"></span>
                        </div>

                        <div class="container-form-btn-login-100 mt-3">
                            <button class="form-btn-login-100">Sign in</button>
                        </div>

                        <div class="w-100 justify-content-center pt-lg-3">
                            <span class="txt-2">Not a member?</span>
                            <a href="#" class="txt-2 bt-1">Sign up now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="dropDownSelect"></div>
    </body>
</html>